$color: black;
$background: #ECEFF1;

@mixin transform($property) {
  -webkit-transform: $property;
      -ms-transform: $property;
          transform: $property;
}
.sampleMixin { @include transform(rotate(30deg)); }

@mixin title {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  text-decoration: underline;
}
.title { @include title}
body {
  background: $background;
}


