.sampleMixin {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }

.title {
  width: 100%;
  text-align: center;
  text-decoration: underline; }

.score {
  text-align: center; }

body {
  background: #ECEFF1; }
